# Laço de Repetição -> Estrutura de Repetição -> Loop
## FOR

### for variavel in range(1, 10):

In [13]:
# for variavel in range(1, 10):
for i in range(0, 15, 5): # i < 10 
  #Faça
  print(i)

0
5
10

In [16]:
for c in range(10, 0, -1):
  print(c)
  #Bloco
  #De
  #Desenv

10
9
8
7
6
5
4
3
2
1

In [23]:
for contador in range(0, 5):
  #Bloco de Execução
  print("Bom dia " , contador)

#Fora do Bloco de Execução do for 
print("Acabou o bom dia")
print('Volte ao trabalho')

Bom dia  0
Bom dia  1
Bom dia  2
Bom dia  3
Bom dia  4
Acabou o bom dia
Volte ao trabalho

In [28]:
# Leia um número e exiba os números em ordem crescente até chegar ao número digitado
num = int(input('Digite um número: '))

for i in range(0, num):
  print(i + 1)

print('---')

for i in range(1, num + 1):
  print(i)

Digite um número: 8
1
2
3
4
5
6
7
8
---
1
2
3
4
5
6
7
8

In [40]:
# Leia o valor inicial e o valor final e exiba um contador entre o numero incial e o final
inicial = int(input('Digite o valor incial: '))
final = int(input('Digite o valor final: '))

if(final > inicial): # Se o valor final for maior que o inicial -> Faça
  for i in range(inicial, final + 1): 
    print(i)
else: # Se o valor final for menor que o final -> Faça
  #print('ERROR: Digite valores válidos!')
  for i in range(final, inicial + 1): 
    print(i)

Digite o valor incial: 15
Digite o valor final: 5
5
6
7
8
9
10
11
12
13
14
15

In [49]:
# Receba um número e faça a tabuada com os 20 primeiros números (indices)
num = int(input('Digite um número: '))

for i in range(0, 21):
# print("{1} x {2} = {3}" .format(1, 2, 3))
  print("{} x {} = {}" .format(num, i, i * num))

Digite um número: 11
11 x 0 = 0
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
11 x 13 = 143
11 x 14 = 154
11 x 15 = 165
11 x 16 = 176
11 x 17 = 187
11 x 18 = 198
11 x 19 = 209
11 x 20 = 220

In [60]:
# Leia 4 números e mostre o somatório (usando for)
''' 
num1 = int(input("Digite um num: "))
num2 = int(input("Digite um num: "))
num3 = int(input("Digite um num: "))
num4 = int(input("Digite um num: "))

soma = num1 + num2 + num3 + num4

print(soma)
'''


soma = 0
for laco in range(4):
  n = int(input("Digite um num: "))
  soma = soma + n # soma += n
print(soma)

Digite um num: 1
Digite um num: 2
Digite um num: 3
Digite um num: 4
10

In [72]:
# Mostre todos os números pares entre 1 e 250 
for i in range(1, 251):
  if(i % 2 == 0):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250

In [85]:
# Leia um valor e exiba a quantidade de números impares entre 1 e o número lido

num = int(input('Digite um valor: '))
if(num > 1):
  for i in range(1, num + 1):
    if(i % 2 != 0): # if(i % 2 == 1): 
      print(i)
else:
  print('Digite um valor maior que 1')

Digite um valor: 21
1
3
5
7
9
11
13
15
17
19
21

In [96]:
# Leia um número e faça a soma dos números ímpares e que sejam múltiplos de 3 entre 1 e o número lido
num = int(input('Digite um valor: '))
soma = 0

for i in range(1, num + 1):
  if( i % 2 != 0 and i % 3 == 0):
    soma += i
print(soma)

Digite um valor: 100
867

In [106]:
#Leia 5 número e exiba  a soma deles, o menor número e o maior numero
soma = 0
maior = 0 # 15
menor = 10000000

for num in range(5):
  n = int(input('Digite um numero: '))
  soma = soma + n
  if(n > maior):
    maior = n 

  if(n < menor): 
    #bloco de execução
    menor = n

print('O somatório dos números foi {} \nO maior número foi {} \nO menor número foi {}' .format(soma, maior, menor))

Digite um numero: 1
Digite um numero: 2
Digite um numero: 3
Digite um numero: 4
Digite um numero: 5
O somatório dos números foi 15
O maior número foi 5
O menor número foi 1

# Exercício

### Leia o nome, idade e sexo de  5 pessoas. Exiba ao final 
  - A média das idades
  - Qual o nome dos mais novo
  - Quantas mulheres tem mais de 20 anos