# Python

# VETORES

## TUPLA
### VARIAVEL COMPOSTA

#### AS TUPLAS SÃO IMUTÁVEIS => NÃO PODEM SER ALTERADAS APÓS A DECLARAÇÃO 

##### DECLARAÇÃO 
##### nomeTupla = (valor, valor, valor, valor, valor)

In [15]:
## Exemplo
##             0     1         2           3     4     5        6        7      8
linguagens = ('C', 'Java', 'JavaScript', 'C++', 'C#', 'PHP', 'Python', 'Ruby', 'R') #Criando uma TUPLA
print(type(linguagens))

linguas = ('C') # Variavel
print(type(linguas))

ling = tuple('C') # Tupla
print(type(ling))

lin = ('C',) # Tupla
print(type(lin))

print(linguagens)
print(linguagens[2])
print(linguagens[5])
print(linguagens[7])

print(len(linguagens)) # O Tamanho da Tupla / Vetor

print(linguagens[-1]) # Ultimo valor
print(linguagens[len(linguagens) -1]) # Ultimo valor

<class 'tuple'>
<class 'str'>
<class 'tuple'>
<class 'tuple'>
('C', 'Java', 'JavaScript', 'C++', 'C#', 'PHP', 'Python', 'Ruby', 'R')
JavaScript
PHP
Ruby
9
R
R

In [24]:
# Fatiamento 
##               0     1         2           3     4     5        6        7      8
##linguagens = ('C', 'Java', 'JavaScript', 'C++', 'C#', 'PHP', 'Python', 'Ruby', 'R')
print('fatiamento')
print(linguagens[1:5]) # 1 - 4
print(linguagens[2:]) # 2 - Ultimo
print(linguagens[:4]) # 4 primeiros
print(linguagens[-3]) # 3 de trás para frente
print(linguagens[-4:]) # 4 ultimos

fatiamento
('Java', 'JavaScript', 'C++', 'C#')
('JavaScript', 'C++', 'C#', 'PHP', 'Python', 'Ruby', 'R')
('C', 'Java', 'JavaScript', 'C++')
Python
('PHP', 'Python', 'Ruby', 'R')

In [25]:
# Alterando a tupla
linguagens[4] = 'Go' # Tuplas são imutáveis, não podem ser alteradas após a criação -> São valores 'constantes'
print(linguagens)

TypeError: ignored

In [37]:
## FUNÇÕES NATIVAS DAS TUPLAS

num = (10, 20, 15, -5) # Criando Tupla de numeros

# ORDENAR 
print(linguagens)
print(sorted(linguagens)) # sorted(tupla) -> Não altera a tupla 
print(linguagens)

print(num)
print(sorted(num))
print(num)

# Buscar pelo valor
print(linguagens.index('Java')) # Buscar indice do valor 
print(num.index(-5))# Buscar indice do valor 

# maximo
print(max(num)) # Valor maximo

# minimo
print(min(num)) # Valor minimo

# Soma
print(sum(num)) # Soma 

# Tamanho
print(len(num)) # Tamanho da tupla

# Deletar
del(num) # Deletar a tupla
print(num)

('C', 'Java', 'JavaScript', 'C++', 'C#', 'PHP', 'Python', 'Ruby', 'R')
['C', 'C#', 'C++', 'Java', 'JavaScript', 'PHP', 'Python', 'R', 'Ruby']
('C', 'Java', 'JavaScript', 'C++', 'C#', 'PHP', 'Python', 'Ruby', 'R')
(10, 20, 15, -5)
[-5, 10, 15, 20]
(10, 20, 15, -5)
1
3
20
-5
40
4

NameError: ignored

## LISTA
### VARIAVEL COMPOSTA


##### DECLARAÇÃO 
##### nomeTupla = [valor, valor, valor, valor, valor]

In [48]:
# Criando listas
roupas = ['Blusa', 'Calça', 'Meia', 'Casaco'] # Criando Lista
print(type(roupas)) # Tipo
print(roupas) # Exibindo todos os valores da lista
print(len(roupas)) # Tamanho lista

numeros = list(range(10, 31, 3))
print(type(numeros))
print(numeros)
print(len(numeros))

teste = []
print(type(teste))
print(teste)
print(len(teste))

<class 'list'>
['Blusa', 'Calça', 'Meia', 'Casaco']
4
<class 'list'>
[10, 13, 16, 19, 22, 25, 28]
7
<class 'list'>
[]
0

In [66]:
# Declarando
carros = ['Palio', 'Gol', 'Celta', 'Corsa']
print(carros)
print(len(carros))

# Adicionar um novo item 
carros.append('Fusca') # Adiciona ao final da lista -> Ultimo item
# carros.append(input('Digite um carro: ')) Adicionando valor digitado pelo usuario
print(carros)
print(len(carros))


# Inserir em um indice especifico
carros.insert(2, 'Fox')
# carros.insert(2, input('Digite um carro: ')) / carros.insert(2, variavel)
print(carros)
print(len(carros))


# Remover pelo indice
del carros[2]
print(carros)
print(len(carros))

carros.pop(3) # Removendo o 3 item
print(carros)
print(len(carros))

carros.pop() # Removendo o ultimo
print(carros)
print(len(carros))

# Remover pelo valor
carros.remove('Celta')
print(carros)
print(len(carros))

# Alterar Valor
carros[0] = 'Celta'
print(carros)
print(len(carros))

carros[1] = 'Palio'
print(carros)
print(len(carros))

# Deletar lista
del carros
print(carros)

['Palio', 'Gol', 'Celta', 'Corsa']
4
['Palio', 'Gol', 'Celta', 'Corsa', 'Fusca']
5
['Palio', 'Gol', 'Fox', 'Celta', 'Corsa', 'Fusca']
6
['Palio', 'Gol', 'Celta', 'Corsa', 'Fusca']
5
['Palio', 'Gol', 'Celta', 'Fusca']
4
['Palio', 'Gol', 'Celta']
3
['Palio', 'Gol']
2
['Celta', 'Gol']
2
['Celta', 'Palio']
2

NameError: ignored

In [72]:
# Copia de tabela
carros = ['Palio', 'Gol', 'Celta', 'Corsa']

outrosCarros = carros[:]
print(outrosCarros)
print(len(outrosCarros))

['Palio', 'Gol', 'Celta', 'Corsa']
4

In [79]:
# Teste logico

# Existe o valor TAL dentro da LISTA
car = input('Pesquise o carro da loja: ')
if(car in carros):
  print('Tem')
else:
  print('Não')

Pesquise o carro da loja: Corsa
Tem

In [90]:
# Funções
# Ordenar
valores = [15, 20, 98, -59, 275, 159, 2]
print(valores)
print(len(valores))
valores.sort() # Altera a lista 
print(valores)
valores.sort(reverse=True) # Decrescente
print(valores)

# Max
print(max(valores))

# Min
print(min(valores))

# Tamanho
print(len(valores))

# Soma 
print(sum(valores))

# Ordenar sem alterar a lista
print(sorted(valores)) # Não alterar a lista 
print(valores)

[15, 20, 98, -59, 275, 159, 2]
7
[-59, 2, 15, 20, 98, 159, 275]
[275, 159, 98, 20, 15, 2, -59]
275
-59
7
510
[-59, 2, 15, 20, 98, 159, 275]
[275, 159, 98, 20, 15, 2, -59]

In [99]:
# Listando itens dos vetores
alunos = ['Kenji', 'Mateus', 'Akio', 'Emerson', 'Davi', 'Sayumi', 'Lorhana', 'Erick', 'Igor']
print(alunos)
alunos.sort()
print(alunos)

def linhas():
  print('==' * 20)

linhas()
print('PRIMEIRA FORMA')
for i in range(0, len(alunos)): # i recebe o INDICE do LOOP
  print(f'Aluno {alunos[i]} na posição {i}') # print('Aluno {} na posição {}' .format(alunos[i], i))

linhas()
print('SEGUNDA FORMA')
for nome in alunos: # nome recebe o VALOR da LISTA 
  print(f'Aluno {nome}')

linhas()
print('TERCEIRA FORMA')
for i, nome in enumerate(alunos): # enumerate gera DOIS VALORES -> INDICE e VALOR DA LISTA
  print(f'Aluno {nome} na posição {i}') # print('Aluno {} na posição {}' .format(alunos[i], i))

['Kenji', 'Mateus', 'Akio', 'Emerson', 'Davi', 'Sayumi', 'Lorhana', 'Erick', 'Igor']
['Akio', 'Davi', 'Emerson', 'Erick', 'Igor', 'Kenji', 'Lorhana', 'Mateus', 'Sayumi']
========================================
PRIMEIRA FORMA
Aluno Akio na posição 0
Aluno Davi na posição 1
Aluno Emerson na posição 2
Aluno Erick na posição 3
Aluno Igor na posição 4
Aluno Kenji na posição 5
Aluno Lorhana na posição 6
Aluno Mateus na posição 7
Aluno Sayumi na posição 8
========================================
SEGUNDA FORMA
Aluno Akio
Aluno Davi
Aluno Emerson
Aluno Erick
Aluno Igor
Aluno Kenji
Aluno Lorhana
Aluno Mateus
Aluno Sayumi
========================================
TERCEIRA FORMA
Aluno Akio na posição 0
Aluno Davi na posição 1
Aluno Emerson na posição 2
Aluno Erick na posição 3
Aluno Igor na posição 4
Aluno Kenji na posição 5
Aluno Lorhana na posição 6
Aluno Mateus na posição 7
Aluno Sayumi na posição 8

In [101]:
# Criar uma lista de numero geradas pelo usuario receba 5 numeros

def inputNum():
  return int(input('Digite um numero: ')) # Pede valor do usuario

numUsu = [] # Lista Vazia
for i in range(0, 5):
  numUsu.append(inputNum())

print(numUsu)
print(f' Maior número {max(numUsu)}')
print(f' Menor número {min(numUsu)}')
print(f' Somatório {sum(numUsu)}' )
print(f' Quantidade de itens da lista {len(numUsu)}'  )
numUsu.sort()
print(numUsu)

Digite um numero: 20
Digite um numero: -2
Digite um numero: 98
Digite um numero: -5
Digite um numero: 10
[20, -2, 98, -5, 10]
 Maior número 98
 Menor número -5
 Somatório 121
 Quantidade de itens da lista 5
[-5, -2, 10, 20, 98]

# Receba 4 nomes e guarde em uma lista, após receber exiba a lista em ordem alfabetica. 
- Regras 
- Criar uma função
- Utilizar for